body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', comic sans ms;
	font-weight: bold;
	background-image: url("bgs/background3.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
	color: white;
	text-transform: uppercase;
	-webkit-animation:fadeIn 1s ease;
}
@-webkit-keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}

#bgLayer{
	background-color: rgba(64,64,64,.9);
	position: absolute;
	height: 100vh;
	width: 80%;
	margin-left: 10%;
	margin-top: 400px;
	z-index: -1;
	border: 4px solid white;
}


#navLinks li:nth-child(2){
	background-color: rgba(64,64,64,.9);
}

#warning{
	margin: 25px;
	padding: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(216,152,0,.9); 
	background-color: rgba(255,179,0,.5);
	width: 40%;
	height: 120px;
}


/*
#raid{
	margin-top: 20px;
	min-width: 200px;
	width: 1200px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
#raid select{
	display: block;
	width:400px;
	margin-left: auto;
	margin-right: auto;

}
*/

.ui-autocomplete{
	position: absolute;
	background-color: rgba(64,64,64,.8);
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-top: 3px;
	min-height: 40px;
	max-height: 200px; 
	overflow-y: auto; 
	overflow-x: hidden;
	border: 2px solid white;
}
.ui-state-active{
	margin: 2px;
	padding: 6px 10px;
	background: rgb(30,30,30,.5);
	display: inline-block;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.searchBar{
	margin-top: 60px;
	height:75px;
	padding: 5px 0px;
	background-color: rgba(64,64,64,.5);

}
.inputBoxes{
	text-align: center;
	padding: 10px;
}
input{
	background-color: rgba(64,64,64,.5);
	border: 2px solid white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
}

select{
	background-color: rgba(64,64,64,.5);
	border: 2px solid white;
	padding: 14px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', comic sans ms;
	text-transform: uppercase;
	color: white;
}
select option{
	background-color: rgba(30,30,30,.5);
}

button {
	background-color: rgba(64,64,64,.5);
	border: 2px solid white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', comic sans ms;
	text-transform: uppercase;
	color: white;
}
button:active{
	background-color: black;
}
#info{
	padding: 0;
	margin: 0;
	padding-left: 20px;
	padding-top: 0px;
	margin-left: 10%;
	margin-top: 60px;
	width: 80%;
	//text-align: center;

}
.characterIcon img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#versionInfo {
	font-size: 11px;
}