
body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', comic sans ms;
	font-weight: bold;
	background-image: url("background.png");
	background-size: cover;
	color: white;
	text-transform: uppercase;
}