
body{
	background-color: #395e9a;
	font-family: 'Roboto', comic sans ms;
	text-transform: uppercase;
	color: white;
}
.info{
	text-align: center;
	width: 100%;
}

#versionInfo {
	font-size: 11px;
}
.searchBar{
	height:75px;
	border-radius: 20px;
	padding: 5px 0px;
	background-color: lightblue;

}
.inputBoxes{
	text-align: center;
	padding: 10px;
}